<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
        crossorigin="anonymous">
</head>
<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <form action="/req_3" method="post" class="col-12 col-md-5 
                py-2 border rounded shadow">
                <div class="fw-bold">1) Trouver l'intrus: </div>
                <div class="m-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" 
                            name="choix" id="choix1" value="1">
                        <label class="form-check-label" for="choix1">
                          Nestjs
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" 
                            name="choix" id="choix2" value="2">
                        <label class="form-check-label" for="choix2">
                            socket.io
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" 
                            name="choix" id="choix2" value="3">
                        <label class="form-check-label" for="choix2">
                            laravel
                        </label>
                    </div>
                </div>
                <div class="my-3 text-center">
                    <button class="btn btn-success fw-bold w-50" 
                        type="submit">Run</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
        crossorigin="anonymous"></script>
</body>
</html>